In [1]:
import sys
import os
import jaydebeapi
import pandas as pd

def db_conn():
    global connFrom
    global connTo
    url = 'jdbc:oracle:thin:@8.142.180.78:1521:MAEASDB'
    driver = 'oracle.jdbc.driver.OracleDriver'
    userFrom = 'test'
    passwordFrom = 'test'
    jarFile = 'D:/Tools/JDBC/ojdbc8.jar'
    connFrom = jaydebeapi.connect(jclassname=driver,
                            url=url,
                            driver_args=[userFrom, passwordFrom],
                            jars=jarFile)
    cursFrom = connFrom.cursor()

    userTo = 'eas'
    passwordTo = 'eas'
    jarFile = 'D:/Tools/JDBC/ojdbc8.jar'
    connTo = jaydebeapi.connect(jclassname=driver,
                            url=url,
                            driver_args=[userTo, passwordTo],
                            jars=jarFile)
def get_data():
    global data_p
    global data_Item
    global data_Cust   
    cursFrom = cursFrom.cursor()    
    sqlStr = "SELECT * FROM CT_CUS_PAYITEMSCUSTREAL WHERE TO_CHAR(FCREATETIME, 'yyyy-mm-dd') >='2022-05-19'"
    cursFrom.execute(sqlStr)
    resulFrom = cursFrom.fetchall()
    # 数据库查询结果形成DataFrame
    data_p=pd.DataFrame(resulFrom,columns=['FNUMBER','FSIMPLENAME','FID','FCREATORID','FCREATETIME','FLASTUPDATEUSERID', 'FLASTUPDATETIME','FTREEID','FCONTROLUNITID','CFREGIONID','FNAME_L1','FNAME_L2','FNAME_L3', 'FDESCRIPTION_L1','FDESCRIPTION_L2','FDESCRIPTION_L3','CFCTRLUNITID','FSOURCEBILLID','FDESCRIPTION','FBIZDATE','FHASEFFECTED', 'FAUDITORID','FHANDLERID','FSOURCEFUNCTION'], dtype='str')

    df_length =data_p.shape[0]
    for _ in range(df_length):
        sid="','".join(data_p['FID'])
   
    sqlStr =""
    sqlStr ="SELECT ENTRY.FSEQ,ENTRY.FID,ENTRY.FPARENTID, '' CFPAYITEMID,MENT.FNUMBER FROM CT_CUS_PAYITEMSCUSTREALENTRY ENTRY INNER JOIN CT_CUS_PAYMENTMETHOD MENT ON ENTRY.CFPAYITEMID=MENT.FID WHERE FPARENTID IN" "('%s')" % (sid) + " ORDER BY FPARENTID,MENT.FNUMBER"
    cursFrom.execute(sqlStr)
    itemEntry = cursFrom.fetchall()
    data_Item=pd.DataFrame(itemEntry,columns=['FSEQ','FID','FPARENTID','CFPAYITEMID','FNUMBER'], dtype='str')


    df_length =data_Item.shape[0]
    for _ in range(df_length):
        sid="','".join(data_Item['FID'])
    sqlStr =""
    sqlStr ="SELECT PAYICREDE.FID,FSEQ,PAYICREDE.FPARENTID,'' CFCUSTOMERID,CUST.FNUMBER FROM CT_CUS_PAYICREDE PAYICREDE INNER JOIN T_BD_CUSTOMER CUST ON PAYICREDE.CFCUSTOMERID=CUST.FID WHERE PAYICREDE.FPARENTID IN" "('%s')" % (sid) + " order by FPARENTID,CUST.FNUMBER"
    cursFrom.execute(sqlStr)
    CustEntry = cursFrom.fetchall()
    data_Cust=pd.DataFrame(CustEntry,columns=['FID','FSEQ','FPARENTID','CFCUSTOMERID','FNUMBER'], dtype='str')

def handle_basedata():
    cursTo = cursTo.cursor() 
    cursTo.execute("SELECT FID,FNUMBER,FNAME_L2 FROM T_BD_CUSTOMER")
    cust_Data=cursTo.fetchall()
    Customer=pd.DataFrame(cust_Data,columns=['FID','FNUMBER','FNAME_L2'])
    cursTo.execute("SELECT FID,FNUMBER,FNAME_L2 FROM CT_CUS_PAYMENTMETHOD")
    payThod_Data=cursTo.fetchall()
    PaymentThod=pd.DataFrame(payThod_Data,columns=['FID','FNUMBER','FNAME_L2'])
    
def handle_insertdb():
    a=b    
if __name__ == '__main__':
    db_conn()
    get_data()
    handle_basedata()
    handle_insertdb()

CFPAYITEMID
 SELECT ENTRY.FSEQ,ENTRY.FID,ENTRY.FPARENTID, '' CFPAYITEMID,MENT.FNUMBER FROM CT_CUS_PAYITEMSCUSTREALENTRY ENTRY INNER JOIN CT_CUS_PAYMENTMETHOD MENT ON ENTRY.CFPAYITEMID=MENT.FID WHERE FPARENTID IN('CfMAAAAvAHchGP7u','CfMAAAAvALIhGP7u','CfMAAAAvAPkhGP7u') ORDER BY FPARENTID,MENT.FNUMBER
CFPAYITEMID
    FSEQ               FID         FPARENTID CFPAYITEMID FNUMBER
0    18  CfMAAAAvAJrW9z4k  CfMAAAAvAHchGP7u        None     106
1    19  CfMAAAAvAJzW9z4k  CfMAAAAvAHchGP7u        None     113
2    20  CfMAAAAvAJ7W9z4k  CfMAAAAvAHchGP7u        None     114
3    21  CfMAAAAvAKDW9z4k  CfMAAAAvAHchGP7u        None     117
4     4  CfMAAAAvAH7W9z4k  CfMAAAAvAHchGP7u        None      12
..  ...               ...               ...         ...     ...
95   24  CfMAAAAvASjW9z4k  CfMAAAAvAPkhGP7u        None      84
96    3  CfMAAAAvAP7W9z4k  CfMAAAAvAPkhGP7u        None       9
97   25  CfMAAAAvASrW9z4k  CfMAAAAvAPkhGP7u        None      90
98   26  CfMAAAAvASzW9z4k  CfMAAAAvAPkhGP7u        None      96
99   27  CfMAAAAvAS7W9z4k  CfMAAAAvAPkhGP7u        None      98

[100 rows x 5 columns]
CUSTOMER
 SELECT PAYICREDE.FID,FSEQ,PAYICREDE.FPARENTID,'' CFCUSTOMERID,CUST.FNUMBER FROM CT_CUS_PAYICREDE PAYICREDE INNER JOIN T_BD_CUSTOMER CUST ON PAYICREDE.CFCUSTOMERID=CUST.FID WHERE PAYICREDE.FPARENTID IN('CfMAAAAvAJrW9z4k','CfMAAAAvAJzW9z4k','CfMAAAAvAJ7W9z4k','CfMAAAAvAKDW9z4k','CfMAAAAvAH7W9z4k','CfMAAAAvAKLW9z4k','CfMAAAAvAIDW9z4k','CfMAAAAvAILW9z4k','CfMAAAAvAKzW9z4k','CfMAAAAvAK7W9z4k','CfMAAAAvALDW9z4k','CfMAAAAvAITW9z4k','CfMAAAAvAIbW9z4k','CfMAAAAvAIjW9z4k','CfMAAAAvAIrW9z4k','CfMAAAAvAIzW9z4k','CfMAAAAvAHjW9z4k','CfMAAAAvAI7W9z4k','CfMAAAAvAJDW9z4k','CfMAAAAvAHrW9z4k','CfMAAAAvAJLW9z4k','CfMAAAAvAJTW9z4k','CfMAAAAvAJbW9z4k','CfMAAAAvAHzW9z4k','CfMAAAAvAJjW9z4k','CfMAAAAvAN/W9z4k','CfMAAAAvAOHW9z4k','CfMAAAAvAOPW9z4k','CfMAAAAvAOXW9z4k','CfMAAAAvAOfW9z4k','CfMAAAAvAOnW9z4k','CfMAAAAvALnW9z4k','CfMAAAAvAOvW9z4k','CfMAAAAvAO3W9z4k','CfMAAAAvALvW9z4k','CfMAAAAvAO/W9z4k','CfMAAAAvAPHW9z4k','CfMAAAAvAPPW9z4k','CfMAAAAvAPfW9z4k','CfMAAAAvAL3W9z4k','CfMAAAAvAL/W9z4k','CfMAAAAvAMHW9z4k','CfMAAAAvAMPW9z4k','CfMAAAAvAMXW9z4k','CfMAAAAvAMfW9z4k','CfMAAAAvAMnW9z4k','CfMAAAAvAMvW9z4k','CfMAAAAvALPW9z4k','CfMAAAAvAM3W9z4k','CfMAAAAvAM/W9z4k','CfMAAAAvANHW9z4k','CfMAAAAvANPW9z4k','CfMAAAAvALXW9z4k','CfMAAAAvANXW9z4k','CfMAAAAvANfW9z4k','CfMAAAAvALfW9z4k','CfMAAAAvANnW9z4k','CfMAAAAvANvW9z4k','CfMAAAAvAN3W9z4k','CfMAAAAvATDW9z4k','CfMAAAAvATLW9z4k','CfMAAAAvATTW9z4k','CfMAAAAvATbW9z4k','CfMAAAAvATjW9z4k','CfMAAAAvATrW9z4k','CfMAAAAvATzW9z4k','CfMAAAAvAQDW9z4k','CfMAAAAvAT7W9z4k','CfMAAAAvAUDW9z4k','CfMAAAAvAULW9z4k','CfMAAAAvAQLW9z4k','CfMAAAAvAUTW9z4k','CfMAAAAvAUbW9z4k','CfMAAAAvAUjW9z4k','CfMAAAAvAVDW9z4k','CfMAAAAvAQTW9z4k','CfMAAAAvAQbW9z4k','CfMAAAAvAQjW9z4k','CfMAAAAvAQrW9z4k','CfMAAAAvAQzW9z4k','CfMAAAAvAQ7W9z4k','CfMAAAAvARDW9z4k','CfMAAAAvARLW9z4k','CfMAAAAvARTW9z4k','CfMAAAAvARbW9z4k','CfMAAAAvAPrW9z4k','CfMAAAAvARjW9z4k','CfMAAAAvARrW9z4k','CfMAAAAvARzW9z4k','CfMAAAAvAR7W9z4k','CfMAAAAvASDW9z4k','CfMAAAAvASLW9z4k','CfMAAAAvAPzW9z4k','CfMAAAAvASTW9z4k','CfMAAAAvASbW9z4k','CfMAAAAvASjW9z4k','CfMAAAAvAP7W9z4k','CfMAAAAvASrW9z4k','CfMAAAAvASzW9z4k','CfMAAAAvAS7W9z4k') order by FPARENTID,CUST.FNUMBER
CFPAYITEMID
                  FID  FSEQ         FPARENTID CFCUSTOMERID    FNUMBER
0   CfMAAAAvAH8serWy     1  CfMAAAAvAH7W9z4k         None  M01-00234
1   CfMAAAAvAHkserWy     1  CfMAAAAvAHjW9z4k         None  M01-00231
2   CfMAAAAvAHsserWy     1  CfMAAAAvAHrW9z4k         None  M01-00232
3   CfMAAAAvAH0serWy     1  CfMAAAAvAHzW9z4k         None  M01-00233
4   CfMAAAAvAI8serWy     1  CfMAAAAvAI7W9z4k         None  M01-00291
..               ...   ...               ...          ...        ...
95  CfMAAAAvAUMserWy     1  CfMAAAAvAULW9z4k         None  M01-00284
96  CfMAAAAvAUUserWy     1  CfMAAAAvAUTW9z4k         None  M01-00285
97  CfMAAAAvAUcserWy     1  CfMAAAAvAUbW9z4k         None  M01-00286
98  CfMAAAAvAUkserWy     1  CfMAAAAvAUjW9z4k         None  K01-00001
99  CfMAAAAvAVEserWy     1  CfMAAAAvAVDW9z4k         None  M01-00290

[100 rows x 5 columns]